<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oAuthTokenEndPoint</key>
	<string>https://MyOAuthTokenEndPoint</string>
	<key>logLevel</key>
	<string>info</string>
	<key>mobileBackend</key>
	<dict>
		<key>name</key>
		<string>MyMobileBackend</string>
		<key>baseURL</key>
		<string>https://MyMobileBackendBaseURL</string>
		<key>authentication</key>
		<dict>
			<key>type</key>
			<string>oauth</string>
			<key>oauth</key>
			<dict>
				<key>clientID</key>
				<string>0123456789abcdef0123456789abcdef</string>
				<key>clientSecret</key>
				<string>01234567-0123-0123-0123-0123456789ab</string>
			</dict>
			<key>basic</key>
			<dict>
				<key>mobileBackendID</key>
				<string>01234567-0123-0123-0123-0123456789ab</string>
				<key>anonymousKey</key>
				<string>dXNlcmlkOnBhc3N3b3Jk</string>
			</dict>
			<key>tokenExchange</key>
			<dict>
				<key>oauth</key>
				<dict>
					<key>clientID</key>
					<string>0123456789abcdef0123456789abcdef</string>
					<key>clientSecret</key>
					<string>01234567-0123-0123-0123-0123456789ab</string>
				</dict>
				<key>basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>01234567-0123-0123-0123-0123456789ab</string>
					<key>anonymousKey</key>
					<string>dXNlcmlkOnBhc3N3b3Jk</string>
				</dict>
			</dict>
			<key>facebook</key>
			<dict>
				<key>facebookAppID</key>
				<string>012345678901</string>
				<key>basic</key>
				<dict>
					<key>mobileBackendID</key>
					<string>01234567-0123-0123-0123-0123456789ab</string>
					<key>anonymousKey</key>
					<string>dXNlcmlkOnBhc3N3b3Jk</string>
				</dict>
			</dict>
		</dict>
		<key>synchronization</key>
		<dict>
			<key>maxStoreSize</key>
			<integer>100</integer>
			<key>periodicRefreshPolicy</key>
			<string>PERIODIC_REFRESH_POLICY_PERIODICALLY_REFRESH_EXPIRED_ITEMS</string>
			<key>periodicRefreshInterval</key>
			<integer>120</integer>
			<key>policies</key>
			<array>
				<dict>
					<key>path</key>
					<string>/mobile/custom/API-NAME/endpoint/**</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>1200</string>
					<key>evictionPolicy</key>
					<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
					<key>conflictResolutionPolicy</key>
					<string>PRESERVE_CONFLICT</string>
				</dict>
				<dict>
					<key>path</key>
					<string>/mobile/custom/API-NAME/endpoint/*</string>
					<key>fetchPolicy</key>
					<string>FETCH_FROM_SERVICE_ON_CACHE_MISS_OR_EXPIRY</string>
					<key>expirationPolicy</key>
					<string>EXPIRE_AFTER</string>
					<key>expireAfter</key>
					<string>60</string>
					<key>conflictResolutionPolicy</key>
					<string>SERVER_WINS</string>
				</dict>
			</array>
			<key>defaultPolicy</key>
			<dict>
				<key>fetchPolicy</key>
				<string>FETCH_FROM_SERVICE_IF_ONLINE</string>
				<key>evictionPolicy</key>
				<string>EVICT_ON_EXPIRY_AT_STARTUP</string>
				<key>expirationPolicy</key>
				<string>EXPIRE_AFTER</string>
				<key>expireAfter</key>
				<string>150</string>
				<key>conflictResolutionPolicy</key>
				<string>CLIENT_WINS</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
